nav {
    background-color: #ffd633;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .title {
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  