* {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  nav {
    justify-content: center;
  }

  .box3 {
    order: 2;
  }

  .box4 {
    order: 1;
  }

  .grid {
    order: 4;
  }

  footer {
    justify-content: center;
  }
}
